/* Theme: ひまわり/Sunflower/向日葵
 * Author: ひまわり(dtysky<dtysky@outlook.com>)
 * Github: https://github.com/dtysky
 * Created: 16/12/26
 */

// Mode
// box, underline
$mode-main: underline;

// Color
$primary-color: #6c9;
$normal-color: #ccc;
$inactive-color: #ccc;
$disabled-color: #ccc;
$error-color: #d56767;
$warning-color: #e8964a;
$success-color: #6c9;
$text-color: #777;
$black: #000;
$white: #fff;
$l-blue: #01b5fd;
