/**
 * @File   : books.module.scss.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 2022/9/18 16:26:16
 */
.books {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  width: 90%;
  height: 3rem;
  left: 5%;
  top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.4rem;
}

.menuItem {
  margin: 0 0.5rem;
}

.list {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.book {
  position: relative;
  width: 26vw;
  height: 36vw;
  max-width: 15rem;
  max-height: 20rem;
  margin-top: 1rem;
  margin-right: 4vw;
  cursor: pointer;
  background-size: cover;
  background-position: center;

  >i {
    font-size: 1.4rem !important;
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: 800;
  }

  >div {
    width: 100%;
    height: 100%;
  }
}

.bookInfo {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  text-align: center;
  color: white;
}

.bookName {
  font-size: 1.2em;
}

.bookAuthor {
  font-size: 1rem;
  margin-top: 0.2rem;
}

.about {
  padding: 2rem 4rem;
  text-align: center;
}

.aboutSlogan {
  margin-top: 2rem;
  line-height: 1.4rem;
}

.aboutLinks {
  margin-top: 1rem;

  >a {
    margin: 0.6rem;
    text-decoration: none;
  }
}

.aboutCopyright {
  margin-top: 1rem;
  line-height: 1.4rem;
}
