/**
 * @File   : books.module.scss.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 2022/9/18 16:26:16
 */
.books {
  width: 100%;
  height: 100%;
}

.list {
  width: 80%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.book {
  position: relative;
  width: 26%;
  margin: 2%;
  height: 0;
  padding-bottom: 36%;
}

.bookInfo {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  text-align: center;
  color: white;
}

.bookName {
  font-size: 1.2em;
}

.bookAuthor {
  font-size: 1rem;
  margin-top: 0.2rem;
}
