/**
 * @File   : app.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 2022/9/16 23:19:58
 */
html {
  font-size: 16px;
}

html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: 0;

  .hana-modal-main {
    min-width: 340px !important;
    max-width: 520px;
    width: 80%;
    user-select: none;
    -webkit-touch-callout: none;
  }

  .hana-slider {
    background: rgba(200, 200, 200, 0.5);
  }
}

body {
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
}
