/**
 * @File   : reader.module.scss
 * @Author : dtysky (dtysky@outlook.com)
 * @Link   : dtysky.moe
 * @Date   : 2022/9/19 00:22:21
 */
 .loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.reader {
  position: relative;
  width: 100%;
  height: 100%;
}

.top {
  position: relative;
  width: 100%;
  height: 3rem;
  background: white;
}

.bottom {
  position: relative;
  width: 100%;
  height: calc(100% - 3rem - 2px);
  background: rgb(251, 240, 217);
}

.menu {
  height: 100%;
  margin-left: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.4rem;
}

.menuItem {
  margin: 0 0.5rem;
}

.menuIndex {

}

.menuReturn {

}

.indexesBg {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%; 
  background: rgba(#aaa, 0.6);
}

.indexes {
  position: absolute;
  z-index: 10;
  width: 25%;
  min-width: 200px;
  max-width: 320px;
  height: 100%; 
}

.indexesShow {
  display: block;
}

.indexesTop {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.index {
  font-size: 1rem;
  line-height: 1.4rem;
  color: black;
}

.notes {
  position: absolute;
  z-index: 10;
  width: 40%;
  min-width: 200px;
  max-width: 320px;
  height: 100%; 
}

.notesContent {
  margin: auto;
  overflow-x: hidden;
}

.notesItem {
  width: 90%;
  margin: 8px 5%;
}

.viewer {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0; 
}

.pageCtr {
}

.pageCtrPre {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 5%;
  height: 100%;
}

.pageCtrNext {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
  height: 100%;
}

.pageCtrSlider {
  z-index: 3;
  position: absolute;
  left: 5%;
  bottom: 1em;
  width: 90%;
}
